*{
    font-family: Lato,sans-serif;;
}

.site-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 60px 0;
    background-image: url(../../../media/imgs/background-image.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

    .site-branding{
        padding: 15px;
        .custom-logo-link{
            width: 200px;
        }
    }

    .main-navigation{
        width: inherit;
        button{
            background-color: #ffffff00;
            border: none;
            height: 60px;
            width: 60px;
        }

        .menu-nav-menu-container{
            .nav-menu{
                .menu-item{
                    a, a:visited{
                        color: $fontColor;
                        padding: 20px;

                    }
                }
            }
        }

    }
    .toggled{
        background-color: #ffffffff;
    }
}

@media screen and (max-width: 599px){
    .menu-nav-menu-container{
        position: absolute;
        left: 0;
        background-color: #fff;
        width: 100%;
    }
}

.entry-header{
    .entry-title{
        @include paragraphFont();
        text-align: left;
        margin: 0;
        margin-bottom: .5em;
        font-size: 1.7em;
        font-weight: 900;
        line-height: 1.2em;
    }
}

.entry-content{
    margin-top: 0;
}

a, a:visited{
    color: $linkColor;
}

p{
    @include paragraphFont();
    font-size: 18px;
}

h2, h3{
    @extend p;
    margin-bottom: .75em;
    font-weight: 900;
    margin-top: 0;
    line-height: 1.2em;
    font-size: 1.5em;
}

.size-large{
    width: 80%;
    margin: 45px auto 0 auto;
}


.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}
@media screen and (max-width: 767px){
    .col, .col-sm-12 {
        max-width: 100%;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-bottom: 15px;

        p{
            padding: 0;
        }
    }
}
.field-label {
    position: absolute;
    top: -27px;
    right: auto;
    bottom: auto;
    color: hsla(0,0%,45.3%,.81);
    font-size: .7em;
}

label{
    display: block;
    margin-bottom: 5px;
    line-height: 1em;
}
.form-field {
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #dadada;
    border-radius: 4px;
    background-color: #fff;
    color: #666;
    font-size: .9em;
    font-weight: 400;
}

.button.smaller, .main-nav-link, blockquote, label {
    font-weight: 400;
}

@media screen and (max-width: 767px){
    .form-field {
        margin-bottom: 29px;
    }
}

@media screen and (max-width: 479px){
    body {
        font-size: 18px;
    }
}
#mc-embedded-subscribe {
    padding: 1em 1.5em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    background-color: #cf2c28;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
}



footer{
    padding: 15px;
    
    .footer-menu-class{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 0.6em;
            font-weight: 700;
            text-decoration: underline;
        }
    }

    p{
        font-size: 0.6em;
        margin: 0;
        padding: 0;
        text-align: left;
    }
}