@mixin paragraphFont(){
    display: block;
    padding: 0 20px;
    font-family: Lato,sans-serif;
    margin-bottom: 1.5em;
    margin-top: 0;
    font-weight: 400;
    line-height: 1.6em;
    text-align: center;
    color: $fontColor;
}